/* Write your global styles here, in PostCSS syntax */

@font-face {
	/* Reference name */
	font-family: 'Quicksand';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Quicksand-VariableFont_wght.ttf');
}
